.resume {
    padding-top: 120px;
    &__title {
        text-align: center;
        .divider {
            margin: 0 auto;
            margin-top: 25px;
        }
    }
    &__wrapper {
        padding: 60px 65px 0 65px; 
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background: $main-color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            padding: 0;
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -16px;
                    background: #000;
                }
            }
        }
    }
    &__item {
        padding-left: 43px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 43px;
            background-color: #000;
            left: 0;
            top: 66px;
        }
        &-head {
            padding-left: 50px;
            padding-top: 45px;
            position: relative;
        }
        &-body {
            max-width: 375px;
            padding-top: 12px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
        &-icon {
            position: absolute;
            top: 50px;
            left: 0;
            img {
                margin-left: 5px;
                margin-top: 5px;
            }
        }
        &_subtitle {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
        .title {
            margin-bottom: 0;
        }
    }
}