.sidepanel {
    position: fixed;
    top: 390px;
    left: -80px;
    transform: rotate(-90deg);
    z-index: 3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 338px;
    height: 24px;

    &__divider {
        width: 70px;
        height: 2px;
        background: #000000;
    }
    &__text {
        font-weight: 700;
        font-size: 16px;
        color: #000000;
    }
    &__link {
        color: #000000;
        &:hover {
            color: $main-color;
        }
    }
}